body{
    position:absolute;
    width:100%;
    height: 100%; 
    margin: 0; 
    padding: 0;
    color:white;
    background-color:#2980b9;
}

#header{
    position:relative;
    width:100%;
    height:30%;
}

h1{
    position:relative;
    font-family: 'Satisfy', 'cursive';
    font-weight: normal;
    width:100%;
    height:10%;
    font-size:32px;
    background-image:URL('logoVNP.png');
    padding:16% 0 0 0;
    margin:4% 0 0 0;
    text-align:center;
    background-size:15%;
    background-position:top center;
    background-repeat:no-repeat;
}

#etape{
    position:relative;
    width:100%;
    height:8%;
    padding:7% 0 0 0;
    margin:0;
    font-size:32px;
    text-align:center;
    border-top:solid 1px white;
    font-family: 'Josefin Sans', 'serif';
}

#etablissement{
    position:relative;
    width:100%;
    height:5%;
    padding:2% 0 7% 0;
    margin:0;
    font-size:32px;
    text-align:center;
    border-bottom:solid 1px white;
    font-family: 'Josefin Sans', 'serif';
}
#etablissement p, #etape p{
    padding:0;
    margin:0;
}


#map-canvas { 
    width:100%;
    height:40%;
}