<div class="map-hider"></div>
<div class="appHeader">
    <div class="col-lg-12">
	<div class="logo">&nbsp;</div>
	<div class="headerText">Affichage d'un Barathon</div>
    </div>
</div>
<div class="containerBarathons">
    <div class="well bs-component">
        <h3>Mon Super Barathon</h3>
        
        <div ng-controller="BarathonCtrl">
            <p>{{barathon.id}}</p>
            <h3>Liste des bars :</h3>
            
            <ul ng-repeat="bar in listeBars">
                <li>{{bar.nom}}</li>
            </ul>
            
        </div> 
        
    </div>
</div>

<script>
    $(".logo").click(function() {
        history.back();
    });
</script>
