<div class="map-hider"></div>
<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <div class="headerText"><h3>Liste des Barathons...</h3></div>
</div>
<div class="containerAtBottom container">
	<div id="wrapperBarathons" class="bs-component">

            <div id="barathonsProposes" class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Barathons proposés</h4>
                </div>
                <div class="panel-body" ng-repeat="barathon in barathonsProposes">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}<span class="badge">{{barathon.difficulte}}</span></a></li>
                    </ul>
                </div>
            </div>

            <div id="mesBarathons" class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Mes Barathons</h4>
                </div>
                <div class="panel-body" ng-repeat="barathon in mesBarathons">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}<span class="badge">{{barathon.difficulte}}</span></a></li>
                    </ul>
                </div>
            </div>
            
            <div id="partiesJouees" class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Parties jouées</h4>
                </div>
                <ul>
                    <!--<div ng-repeat="barathon in partiesJouees ">-->

                        <!--<li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>-->
                        
                        <li><a href="#">Mon Barathon     temps : 4h15</a></li>
                    <!--</div>-->
                </ul>
            </div>

        </div>
            
            

</div>

