<div class="map-hider"></div>
<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <div class="headerText"><h3>Liste des Barathons...</h3></div>
</div>
<div class="containerAtBottom container">
	<div id="wrapperBarathons" class="well bs-component">

            <div id="barathonsProposes">
                <h3>Barathons proposés</h3>
                <div ng-repeat="barathon in barathonsProposes ">
                    <ul>
                        <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>
                    </ul>
                </div>
            </div>

            <div id="mesBarathons">
                <h3>Mes Barathons</h3>
                <ul>
                    <div ng-repeat="barathon in mesBarathons ">

                        <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>
                    </div>
                </ul>
            </div>
            
            <div id="partiesJouees">
                <h3>Parties jouées</h3>
                <ul>
                    <!--<div ng-repeat="barathon in partiesJouees ">-->

                        <!--<li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>-->
                        
                        <li><a href="#">Mon Barathon     temps : 4h15</a></li>
                    <!--</div>-->
                </ul>
            </div>

        </div>
            
            

</div>

