<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <div class="headerText"><h3>{{barathon.nom}}</h3></div>
</div>
<div class="containerAtBottom container">
    <div class="bs-component">
        
        <ul class="nav nav-pills">
            <li class="active buttons" id="launchButton"><a href="#">Lancer Barathon !</a></li>
            <li class="active buttons" id="partager"><a href="#">Partager</a></li>
        </ul>
        
        <!--<div ng-controller="BarathonCtrl">-->
        <div>
            <ul>
                <li class="list-group-item">Temps estimé : {{barathon.tempsestime}}</li>
                <li class="list-group-item">Difficulté : {{barathon.difficulte}}</li>
                <li class="list-group-item">Distance : 2,5km</li>
            </ul>
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des bars</h3>
                </div>
                <div ng-repeat="bar in listeBars">
                    <div class="panel-body">{{bar.name}}</div>
                </div>
            </div>
            
        </div> 
    </div>
</div>
