
<div class="map-hider"></div>
<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <div class="headerText">Liste des Barathons...</div>
</div>
<div class="container containerBarathons">
	<div id="wrapperBarathons" class="well bs-component">
            <div id="mesBarathons">
                
                <h3>Barathons proposés</h3>
                <ul>
                    <div ng-controller="BarathonsCtrl">
                        <div ng-repeat="barathon in barathons ">

                            <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>
                        </div>
                    </div>
                </ul>
                
                <h3>Mes Barathons</h3>
                <ul>
                    <div ng-repeat="barathon in barathonsProposes ">

                        <li><a href="#barathons/{{barathon.id}}">{{barathon.nom}}</a></li>
                    </div>
                </ul>
                    
                    
            </div>
        </div>
            
            
            
            
            
            <!--
            <div id="barathonsProposes">
                <h3>Barathons proposés</h3>
                <ul>
                    <li><a href="#barathons/12">SuperStar Barathon</a></li>
                    <li><a href="#barathons/14">The Descent Barathon</a></li>
                </ul>
            </div>
            <div class="barathonsEffectues">
                <h3>Barathons effectués</h3>
                <ul>
                    <li><a href="#parties/1">Mon Barathon   --   temps : 3h25</a></li>
                </ul>
            </div>
            -->
        </div>
</div>

