<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <!--<div class="headerText">-->
        
        <!-- <button class="btn" id="newBarathonBtn">Créer un barathon !</button>-->
    <!--</div>-->
    <button id="creationBarathon" class="btn btn-primary" style="float: right; margin: 10px;">Créer un Barathon !</button>
</div>

<script>
    // cache la div de création Barathon
    //$("#barathonCreation").hide();
    
    $("#creationBarathon").click(function() {
        window.location.href = "#creationBarathon";
    });
    
</script>