<div class="map-hider"></div>
<div  id="logoHome">&nbsp;</div>

<div class="container containerAtBottom">
    <div class="well bs-component">
        <h1 class="site-title">Barathon</h1>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#login" id="login">Login</a></li>
            <li><a href="#carte">Carte de Lausanne</a></li>
            <li><a href="#barathons">Liste des barathons</a></li>
            <li><a href="#listeBars">DANGER ! Test zone -..°'¨!</a></li>
        </ul>
    </div>
</div>