<div class="appHeader">
    <div class="logo">&nbsp;</div>
    <div class="headerText"><h3>Test routes</h3></div>
</div>



<!--
<div class="container containerAtBottom">
    <div class="well bs-component">
        
        <h1>We're in the bars, y'all!</h1>
        <div>
            <div ng-repeat="unBar in bars.features | orderBy: '+properties.name'">
                <strong>{{unBar.properties.name}}</strong>
            </div>
        </div>
    </div>
</div>
-->
<script>
    $(".logo").click(function() {
        history.back();
    });
</script>