<div class="appHeader">
    <div class="col-lg-12">
	<div class="logo">&nbsp;</div>
	<div id="titreHaut" class="headerText">Barathon en cours : {{barathonEnCours.nom}}</div>
    </div>
</div>

<div id="etapeBar" class="container containerAtBottom">
    <h3>Rendez-vous au prochain bar : {{barAVisite.name}}</h3>
    
    <button class="btn btn-primary" style="float:right; margin: 5px;" id="validerEtape">Valider etape</button>
    <button class="btn " style="float:right; margin: 5px;" id="prochainBar">Prochain bar</button>
</div>