<div class="map-hider"></div>
<div class="appHeader">
    <div class="col-lg-12">
	<div class="logo">&nbsp;</div>
	<div class="headerText">Validation d'un Barathon</div>
    </div>
</div>


<div id="barathonCreation">
    <h3>nom du barathon : ...</h3>
    <h3>Liste ordrée des bars :</h3>
    
    <div ng-controller="CreationBarathonCtrl">
        <ul ng-repeat="bar in listeBarsAValider" id="listeBarsAValider">
            <li>{{bar.nom}} <button class="removeBar">remove</button></li>
        </ul>
    </div>

    <button class="btn btn-primary" style="float:right; margin: 5px;" id="okButton">Ok</button>
</div>

<script>
    $("#okButton").click(function() {
        window.location.replace("#home");
    });
</script>