<div class="map-hider"></div>
<div class="appHeader">
    <div class="col-lg-12">
	<div class="logo">&nbsp;</div>
	<div class="headerText">Validation d'un Barathon</div>
    </div>
</div>


<div id="barathonValidation">
    
    <h4>Entrez infos du Barathon</h4>
    <div style="padding:5px;" class="form-group">
        <input  type="text" class="form-control" id="inputNomBarathon" placeholder="Nom Barathon">
        <span>Difficulté : </span>
        <select id="inputDifficulteBarathon" style="margin-top:5px;">
            <option value="easy">easy</option>
            <option value="middle">middle</option>
            <option value="hard">hard</option>
        </select>
    </div>
    
    <h4>Liste ordrée et validée des bars :</h4>
    
    <div>
        <ul ng-repeat="bar in listeBarsAValider" id="listeBarsAValider">
            <li>{{bar.nom}}</li>
        </ul>
    </div>

    <button class="btn btn-primary" style="float:right; margin: 5px;" id="validerNewBarathonBtn" ng-click="go('/home')">Ok</button>
</div>

<script>
    
    $(".logo").click(function(){
        window.location.href= "#creationBarathon";
    });
    
</script>