.starter-template{
    margin-top:60px;
}

.navbar-default {
    /*background-color: transparent;*/
    
}
.navbar-nav {
    font-size: 1.8em;
    margin-top: 37px;
    margin-left: 20px;
}

.logo {
    background-image: url("../img/logo_desktop.png");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
}

#map{
    position:absolute;
    top:100px;
    left:0;
    width:100%;    
}

.ng-scope {
    margin: 120px auto 0 auto;
}