.starter-template{
    margin-top:60px;
}

.navbar-default {
    /*background-color: transparent;*/
}

.navbar-nav {
    font-size: 1.0em;
}

.container {
    margin-top: 20px !important;
    position: relative;
    padding: 0px;
}
/* Surcharge pour corriger la marge du bas sur la page des barathons */
.well {
    margin-bottom: 0px;
}
.panel-body {
    padding: 5px;
}

#page{
    width:100%;
    height:100%;
    z-index:9999;
}

#logoHome{
    width:150px;
    height:150px;
    background-image:URL('../img/logo_vFlat2.png');
    background-repeat:no-repeat;
    background-size:150px 150px;
    background-position: left;
    position: relative;
    margin-top:40px;
}
.site-title {
    position: absolute;
    top: 140px;
    margin-left: -20px;
    font-weight:bold;
    text-shadow: 3px 3px 6px white;
    color:rgb(29,68,86);
}

#map{
    position:absolute;
    top:0px;
    left:0;
    width:100%; 
    height:100%;
    z-index:1;
}
.map-hider {
    position:absolute;
    top:0px;
    left:0;
    width:100%; 
    height:100%;
    background-color: whitesmoke;
    opacity: 0.4;
}
.ng-scope {
    margin: 0px auto 0 auto;
    z-index: 99999;
}

/*     ---  Header  --- */
.appHeader {
    //background-color: whitesmoke;//#2980b9;
    background-color: rgba(245, 245, 245, 0.6);
    width: 100%;
    height:80px;
    //float:left;
    position: relative;
}
.appHeader div {
    float:left;
}
.appHeader .logo {
    width:80px;
    height:80px;
    background-image:URL('../img/back_button.png');
    background-repeat:no-repeat;
    background-size:77px 60px;
    background-position: left;
    position: relative;
    margin-left:10px;
}
.appHeader .logo:hover {
    background-size:79px 62px;
}
.headerText {
    color : white;
    text-align: center;
    vertical-align: central;
    color : #2980b9;
}

/*    --- Création Barathon  --- */
#barathonCreation {
    width:100%;
    heigth:auto;
    background-color:whitesmoke;
    color: #2980b9;
    position:absolute;
    bottom:0px;
}

/*    --- Validation Barathon  --- */
#barathonValidation {
    width:100%;
    heigth:auto;
    background-color:whitesmoke;
    color: #2980b9;
    position:absolute;
    bottom:0px;
}


/*    ---  Liste Barathons   --- */
#wrapperBarathons li {
    list-style-type: none;
}
#wrapperBarathons ul {
    padding-left:0px;
}
#wrapperBarathons {
    margin-top:0px;
}

.containerAtBottom {
    //margin-top: 10px;
    height:auto;
    width:100%;
    position:absolute;
    bottom:0px;
    width:100%;
    heigth:auto;
    max-height: 50%;
    background-color: whitesmoke;
    color: #2980b9;
}


/*
 * GESTION DES TRANSITIONS FADE-IN FADE-OUT
 * Source : http://dfsq.github.io/ngView-animation-effects/app/#/code
 */
.fade {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;*/
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
