.starter-template{
    margin-top:60px;
}

.navbar-default {
    /*background-color: transparent;*/
}

.navbar-nav {
    font-size: 1.0em;
}


#logo{
    width:100%;
    height:100px;
    background-image:URL('../img/logo_vFlat2.png');
    background-repeat:no-repeat;
    background-size:100px 100px;
    background-position: center;
}
#map{
    position:absolute;
    top:0px;
    left:0;
    width:100%; 
    height:100%;
}

.ng-scope {
    margin: 0px auto 0 auto;
}